/*Prevent img selection*/
img {
	-webkit-user-select: none;  
	-khtml-user-select: none;   
	-moz-user-select: none; 
	-o-user-select: none;    
	user-select: none; 
}
body, html {
    height: 100%;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #89826d !important;
    flex-wrap: wrap;
    align-content: center;
}
button{
    white-space: nowrap;
    overflow: hidden;
}
#gameContainer {
	width:1228px; 
	height:697px;
	position:relative;
}
#exitLink{
	position: absolute;
	top:0px;	
}

canvas {
	padding: 10px;
}
.brute {
	position: absolute;
}
.attackAnimation {
	position: absolute;
	top: 300px;
}

.stats img, .statsImg {
    height: 80px;
    padding: 5px;
}

#player1 > div {
	display: flex;
    align-items: center;
    padding-left: 5px;
}

#player2 > div {
	display: flex;
    align-items: center;
    padding-right: 5px;
}

.stats {
	border: double;
}

.stat {
	width: 30px;
	text-align: center;
	font-weight: bold;
}

.line-break {
  width: 100%;
}

#audioPauseBtn {
	height: 38px;
}

